.scale-icon { width: 100%}

.justify-center {
  display: flex;
  justify-content: center;
}


.bck-color-e6e6e6 {
  background-color: #e6e6e6;
}

.opacity {
  opacity: .8;
}

.score-text-styles {
  font-size: 25px;
  color: red;
}

.city-title-styles {
  font-size: 20px;
  font-weight: bold;
}

.city-info-title-styles {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.border {
  border: 1px solid #444444;
}


.width-50 {
  width: 50%;
}

.border-btm {
  border-bottom: 1px solid #444444;
}

.text-data-styles {
  font-size: 20px;
  font-weight: bold;
}


.hr-line {
  background-color: black;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid;
  width: 80%;
}

.border-right {
  border-right: 2px solid #444444;
}

.text-data-title-styles {
  font-size: 15px;
}


.search-rts-box {
  width: 96%;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: default;
  position: absolute;
  z-index: 100;
}

.city-hover:hover { background-color: #e4e4e4 }
