
<!--// ############ fixed header bar home page #################### //-->

  <nav class="navbar margin-bottom-5p navbar-inverse bg-inverse">
    <div class="container">
      <a class="navbar-brand home-logo-width"  routerLink="/home"><img style="width: 100%;" src="../../assets/realcitylogo.png" alt=""></a>
    </div>
  </nav>


  <!--// ############ search bar container #################### //-->

  <div class="container">
    <div class="margin-bottom-100">
      <div class="row margin-bottom-15">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
          <div class="font-weight-bold font-size-18 margin-bottom-5">Discover Whether a City is Currently a Buyer's or Seller's Market</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
          <div class="search-btn">
            <div class="search-icon"><img style="width: 100%" src="../../assets/searchIcon.svg" alt=""></div>
          </div>
          <input
            type="text"
            [(ngModel)]="filterargs.title"
            (ngModelChange)="onCityChange()"
            placeholder="Search for a City"
            class="form-control app-standard-input-styles"/>

          <div *ngIf="searchPredictions" class="search-rts-box overflow-scroll">
            <div *ngFor="let city of cities | orderBy:filterargs; let index=index" (click)="onSelectCity(city)"  class="city-hover">
              <div class="text-left pd-tp-5 pd-btm-5 mrg-lft-10" >
                <div class="">{{city.title}}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!--// ############ city content area   #################### //-->

  <div class="container mrg-btm-85">
    <div class="row ">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
       <div class="pd-all-8">
         <div class="row mrg-btm-30">
           <div class="col-xs-6">
             <div class="city-title-styles mrg-btm-5">Snap Shot of {{selectedCity.name}}</div>
             <div>Aug 2017</div>
           </div>
           <div class="col-xs-6 text-right">
             <div class="score-text-styles">{{selectedCity.score}}</div>
             <div>Out of 10</div>
             <div>{{buyersorsellers}} Market</div>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-12">
            <div class="justify-center">
              <div class="scale-icon"><img style="width: 100%" src="../../assets/RealMarketScale.svg" alt=""></div>
              <div class="scale-indicator" [ngClass]="{'sleft-1': selectedCity.score <= 2, 'sleft-2': selectedCity.score <= 3 && selectedCity.score > 2,
            'sleft-3': selectedCity.score <= 4 && selectedCity.score > 3, 'sleft-4': selectedCity.score <= 5 && selectedCity.score > 4,
             'sleft-5': selectedCity.score <= 6 && selectedCity.score > 5, 'sleft-6': selectedCity.score <= 7 && selectedCity.score > 6,
             'sleft-7': selectedCity.score <= 8 && selectedCity.score > 7, 'sleft-8': selectedCity.score <= 9 && selectedCity.score > 8,
             'sleft-9': selectedCity.score <= 11 && selectedCity.score > 9}"></div>
            </div>
            <div class="house" [ngClass]="{'left-1': selectedCity.score <= 2, 'left-2': selectedCity.score <= 3 && selectedCity.score > 2,
            'left-3': selectedCity.score <= 4 && selectedCity.score > 3, 'left-4': selectedCity.score <= 5 && selectedCity.score > 4,
             'left-5': selectedCity.score <= 6 && selectedCity.score > 5, 'left-6': selectedCity.score <= 7 && selectedCity.score > 6,
             'left-7': selectedCity.score <= 8 && selectedCity.score > 7, 'left-8': selectedCity.score <= 9 && selectedCity.score > 8,
             'left-9': selectedCity.score <= 11 && selectedCity.score > 9}"><img style="width: 100%" src="../../assets/houseIcon.png" alt=""><div class="scoreInhouse">{{selectedCity.score}}</div> </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>


<!--// ############ data area   #################### //-->

<div class="container margin-bottom-100">
  <div class="row ">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-xs-4 border-right text-center">
          <div class="text-data-styles overflow-hide ">${{selectedCity.zmlp | number:'3.1-5'}}</div>
          <hr class="hr-line">
          <div class="text-data-title-styles">Median Price</div>
        </div>
        <div class="col-xs-4 border-right text-center">
          <div class="text-data-styles">${{selectedCity.mls}}</div>
          <hr class="hr-line">
          <div class="text-data-title-styles">/SQ Feet</div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="text-data-styles">{{selectedCity.al}}</div>
          <hr class="hr-line">
          <div class="text-data-title-styles">Active Listings</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--&lt;!&ndash;// ############ information title   #################### //&ndash;&gt;-->

<!--<div class="container mrg-btm-50">-->
  <!--<div class="row ">-->
    <!--<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">-->
      <!--<div class="text-center">-->
        <!--<div class="city-info-title-styles">This city is currently a great place to {{buyOrSell}} a property</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--// ############ hr line  #################### //-->

<div class="container">
  <div class="row margin-bottom-15">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <hr class="hrLine">
    </div>
  </div>
</div>




<!--// ############ advertise with us  #################### //-->

<div class="container margin-bottom-150">
  <div class="row ">
    <div class="col-xs-12  col-sm-10 col-sm-offset-1">
      <div class="dark-background pd-20">
        <div class="row">
          <div class="col-xs-12">
            <div class="row flex-center-all">
              <div class="col-xs-6">
                <div class="text-center">
                  <div class="city-info-title-styles margin-bottom-15">This City is a {{buyOrSell}} Market</div>
                  <div class="margin-bottom-5 text-sm-white">The current average home price is $xxx,xxxx</div>
                  <div class="margin-bottom-15 text-sm-white">Want to learn more about this market? Want to advertise with us?</div>
                  <form action="/email" method="get">
                    <button type="submit" class="btn adv-btn">Learn More</button>
                  </form>
                </div>
              </div>
              <div class="col-xs-6 ">
                <div class="flex-center-all">
                  <div class="adv-image"><img style="width: 100%" src="../../assets/realCityAd1.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
