
<!--// ############ fixed header bar home page #################### //-->

  <nav class="navbar margin-bottom-5p navbar-inverse bg-inverse">
    <div class="container">
      <a class="navbar-brand home-logo-width" href="#"><img style="width: 100%;" src="../../assets/realcitylogo.png" alt=""></a>
    </div>
  </nav>


  <!--// ############ search bar container #################### //-->

  <div class="container">
    <div class="pd-btm-50">
      <div class="row">
        <div class="form-group col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
          <div class="search-icon"><img style="width: 100%" src="../../assets/searchIcon.svg" alt=""></div>
          <input
            type="text"
            class="form-control app-standard-input-styles"/>
        </div>
      </div>
    </div>
  </div>


  <!--// ############ city content area   #################### //-->

  <div class="container mrg-btm-50">
    <div class="row ">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
       <div class="bck-color-e6e6e6 opacity pd-all-8 border">
         <div class="row mrg-btm-30">
           <div class="col-xs-6">
             <div class="city-title-styles">Snap Shot of {{selectedCity.name}}</div>
             <div>May 2017</div>
           </div>
           <div class="col-xs-6 text-right">
             <div class="score-text-styles">{{selectedCity.score}}</div>
             <div>Out of 10</div>
             <div>Hot Market</div>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-12">
             <div class="justify-center">
               <div class="scale-icon"><img style="width: 100%" src="../../assets/RealMarketScale.svg" alt=""></div>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>


<!--// ############ data area   #################### //-->

<div class="container mrg-btm-50">
  <div class="row ">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-xs-4 border-right text-center">
          <div class="text-data-styles">${{selectedCity.md}}</div>
          <hr class="hr-line">
          <div class="text-data-title-styles">Median Price</div>
        </div>
        <div class="col-xs-4 border-right text-center">
          <div class="text-data-styles">${{selectedCity.sq}}</div>
          <hr class="hr-line">
          <div class="text-data-title-styles">/SQ Feet</div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="text-data-styles">{{selectedCity.al}}</div>
          <hr class="hr-line">
          <div class="text-data-title-styles">Active Listings</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--// ############ information title   #################### //-->

<div class="container mrg-btm-50">
  <div class="row ">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <div class="city-info-title-styles">This city is currently a great place to sell a property</div>
      </div>
    </div>
  </div>
</div>


<!--// ############ advertise with us  #################### //-->

<div class="container margin-bottom-150">
  <div class="row ">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <div class="bck-color-e6e6e6 opacity pd-20">
        <div class="row">
          <div class="col-xs-6">
            <label class="label-styles">Full Name</label>
            <input class="margin-bottom-8 adv-input-box" type="text">
            <label class="label-styles">Phone Number</label>
            <input class="margin-bottom-8 adv-input-box" type="text">
            <label class="label-styles">Email Address</label>
            <input class="margin-bottom-8 adv-input-box" type="text">
          </div>
          <div class="col-xs-6 flex-shape">
            <div class="font-size-14">Advertise With Us.</div>
            <div class="font-size-14 margin-bottom-25 ">Grow Your Business.</div>
            <button type="submit" class="btn adv-btn">Lean More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
