
  <!--// ############ fixed header bar home page #################### //-->

  <nav class="navbar margin-bottom-12p navbar-inverse bg-inverse">
    <div class="container">
      <a class="navbar-brand home-logo-width" href="#"><img style="width: 100%;" src="../../assets/realcitylogo.png" alt=""></a>
    </div>
  </nav>


  <!--// ############ main title content #################### //-->

  <div class="container margin-bottom-25">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 text-center">
        <div class="font-weight-bold font-size-14 margin-bottom-5">Discover Weather City is Currently a Buyer's or Seller's Market</div>
        <div>Wait until the Idea Market Temperature. Where Would you like to Buy or Sell?</div>

      </div>
    </div>
  </div>



  <!--// ############ search bar container #################### //-->

  <div class="container">
    <div class="pd-btm-50">
      <div class="row">
        <div class="form-group col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
         <div class="search-btn">
           <div class="search-icon"><img style="width: 100%" src="../../assets/searchIcon.svg" alt=""></div>
         </div>
          <input
            type="text"
            [(ngModel)]="filterargs.title"
            (ngModelChange)="onCityChange()"
            class="form-control app-standard-input-styles"/>

          <div *ngIf="searchPredictions" class="search-rts-box">
            <div *ngFor="let city of cities | orderBy:filterargs let index=index" (click)="onSelectCity(city)" class="city-hover">
              <div class="text-left pd-tp-5 pd-btm-5 mrg-lft-10" >
                <div class="">{{city.title}}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



